*

# dont ignore build files, but ignore the build subdirs!build/
!build/
!build/*
build/*/

# dont ignore main files

!assets/
!assets/**
!term/
!index.html
!maintenance.html
!favicon.ico

# API
!api/
api/config.php
!badges/

# misc
!LICENSE
!/README.md
!/package.json
!/badges.md
!/.gitignore
!.github/
!.github/**
!misc/
!misc/**