/* load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* reset styles */
/* [Reset styles remain the same] */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* html5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
  text-transform: none;
  color: #66b3ff;
}

footer {
  float: left;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
  padding: 20px 50px !important;
  margin-top: 0px !important;
  color: #b3b3b3;
  background-color: #1a1a1a;
  background: linear-gradient(
    180deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(38, 38, 38, 1) 45%
  );
  max-width: none !important;
  margin-bottom: 0 !important;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  color: #b3b3b3;
  flex: 1 1 auto;
  margin: 5px 0;
}

footer a {
  color: #ff6666;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}

footer img {
  max-height: 50px;
  margin-left: 20px;
}

*[dir='rtl'] {
  direction: rtl;
  unicode-bidi: embed;
}

body {
  line-height: 1;
  font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  background-color: #121212;
  color: #e6e6e6;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  color: #e6e6e6;
  font-size: 17;
  line-height: 31px;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

div, footer {
  box-sizing: border-box;
}

footer, .container {
  max-width: 1100px;
  height: auto;
  margin: 60px auto;
}

.hero {
  margin: 150px auto 200px auto;
  position: relative;
}

h1.name {
  font-size: 94px;
  font-weight: 700;
  display: inline-block;
  color: #ffffff;
}

#strike {
  text-decoration: line-through;
  text-decoration-color: #ff6666;
  display: inline;
}

.subtitle {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #99a0b3;
  margin-top: 10px;
}

.lead {
  font-size: 44px;
  font-weight: 300;
  margin-top: 60px;
  line-height: 55px;
  color: #e6e6e6;
}

.sections {
  vertical-align: top;
  display: inline-block;
  min-height: 50px;
}

.sectionleft {
  width: 40%;
}

.sectionright {
  width: 59%;
}

.section-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
}

.list-card.example {
  margin: 30px 30px 30px 0;
  max-width: 350px; 
  padding: 25px 25px 10px 25px;
  border-radius: 10px;
  background: #1e1e1e;
  box-shadow: -20px 20px 60px #151515, 20px -20px 60px #272727;
}

.list-card .exp {
  margin-right: 15px;
  color: #66b3ff;
  font-weight: 600;
  width: 100px;
}

.list-card div {
  width: 100%;
}

.list-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #b3c1e6;
  line-height: 26px;
  margin-bottom: 8px;
}

.list-card div p {
  font-size: 18px;
  color: #b3b3b3;
  line-height: 24px;
  margin-bottom: 22px;
}

.list-card a {
    color: #b3b3b3;
}

.container ul {
  list-style: none;
  font-size: 18px;
  color: #b3b3b3;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-top: -20px;
  opacity: 85%;
}

.nonos ul li:before {
  content: '×';
  color: #ff6666;
  font-weight: bold;
  padding-right: 10px;
  opacity: 100% !important;
}

.yepyep ul li:before {
  content: '✓';
  font-size: 14px;
  font-weight: bold;
  color: #66ff66;
  padding-right: 10px;
  opacity: 100% !important;
}

.slack {
  padding-bottom: 15px;
}

.slack img {
  width: 42px;
  height: 42px;
  border-radius: 45px;
  float: left;
  margin-right: 10px;
}

.slack .slackname {
  font-weight: 600;
  font-size: 16px;
  color: #e6e6e6;
}

.slack .slacktime {
  font-size: 14px;
  color: #b3b3b3;
}

.slack .slackmessage {
  font-size: 16px;
  color: #e6e6e6;
}

.card {
  width: 47.9%;
  height: 200px;
  background-color: #1e1e1e;
  display: inline-block;
  margin: 7px 5px;
  vertical-align: top;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
}

.card-active, .card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  background-color: #262626;
  box-shadow: 0px 5px 50px -8px #000000;
  cursor: pointer;
}

@media (max-width: 1024px) {
  footer, .container {
    padding: 15px;
    margin: 0px auto;
  }
}

@media (max-width: 768px) {
  footer, .container {
    padding: 15px;
    margin: 0px auto;
  }
  .card {
    padding: 15px;
    text-align: left;
  }
  .card h2 {
    font-size: 70px;
  }
  .card, .sections {
    width: 100%;
    height: auto;
    margin: 100px 0;
    float: left;
  }
}

@media (max-width: 425px) {
  h1.name {
    font-size: 40px;
  }
  
  .card, .sections {
    width: 100%;
    height: auto;
    margin: 10px 0;
    float: left;
  }

  .lead {
    margin-top: 40px;
    font-size: 20px;
    line-height: 28px;
  }
  


  .list-card.example {
    margin: 30px 10px -20px 0;
    padding: 25px 25px 10px 25px;
    border-radius: 10px;
  }

  .section-title {
    font-size: 20px;
    margin-top: 20px;
  }

  .yepyep .section-title {
    margin-top: 80px;
  }
}
